body {
  font-family: tahoma;
  background: #f4f4a1;
  line-height: 2em;
}
.primary-text {
  color: #3b5998;
}
.btn,
.primary-btn {
  padding: 10px 15px;
  border: 0;
}
.primary-btn {
  background: #3b5998;
  color: #f4f4a1;
}
